<!DOCTYPE html>
<html>
<head>
  <title>Mpesa</title>
  <%= stylesheet_link_tag    "mpesa/application", media: "all" %>
  <%= javascript_include_tag "mpesa/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
